- if result.errors.any?
  .error-explanation.alert.alert-danger
    .error-heading= t('errors.template.header', count: result.errors.count, model: result.model_name.human)
    %ul
      - result.errors.full_messages.each do |msg|
        %li= msg