- resource_class.attribute_names.each do |name|
  %tr
    %th{ role: name.dasherize, class: 'key' }= resource_class.human_attribute_name(name)
    %td{ role: name.dasherize, class: 'value' }= resource.send(name)