.row
  .col-lg-12
    #page-title.bottom-margin-1
      %h1= t('.title')

.row
  - Itsf::Backend::Configuration.backend_engines.each do |engine|
    - if !Itsf::Backend.features?(:pundit) || engine_policy(engine).access?
      .col-lg-6= render 'dashboard_panel', engine: engine