.form-group
  - if resource_class.respond_to?(:columns_hash)
    - if Rails.version < '5'
      = form.full_text_search *resource_class.columns_hash.delete_if{ |k, v| !v.cast_type.is_a?(ActiveRecord::Type::String)  }.keys, autofocus: :last
    - else
      = form.full_text_search *resource_class.columns_hash.delete_if{ |k, v| v.type!= :string  }.keys, autofocus: :last